body {
    text-align: center;
    background-color: #FFF8C9;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    border: 2px solid black;
    border-radius: 5px;
}

.header {
    background: linear-gradient(to right, #BEADFA, #713ABE, #610C9F);
    padding: 1%;
    border-radius: 10px;
}

.projects-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.down {
    margin: 10pt 5pt;
}

#title {
    font-family: 'Recursive', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-decoration-line: overline;
}

#subtitle {
    font-family: 'Recursive', sans-serif;
    color: white;
}
