body {
    text-align: center;
}

.down {
    margin: 10pt 5pt;
}

.portfolio {
    background-color: antiquewhite;
}

.projects {
    display: inline-block;
    margin: 0px 25px;
}

#title {
    font-family: 'Recursive', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-decoration-line: overline;
}

#subtitle {
    font-family: 'Recursive', sans-serif;
    color: white;
}


